@font-face {
  font-family: gotham-bold;
  src: url(/css/fonts/GothamBold.ttf);
}

@font-face {
  font-family: gotham-light;
  src: url(/css/fonts/GothamRoundedLight.ttf);
}

@font-face {
  font-family: helvetica-light;
  src: url(/css/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helvetica-medium;
  src: url(/css/fonts/HelveticaNeue-Medium.ttf);
}

@font-face {
  font-family: helvetica-bold;
  src: url(/css/fonts/HelveticaNeue-Bold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
}

button,
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active {
  outline: none;
  border: none;
}

body {
  font-family: "gotham-bold", "gotham-light", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
  line-height: 1.4;
  max-width: 1920px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.bg-black {
  background-color: #383838;
}

.bg-red {
  background-color: #d35266;
}

.text-gray {
  color: #888;
}

.text-black {
  color: #383838;
}

.font-gotham-light {
  font-family: "gotham-light", "gotham-bold", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-helvetica {
  font-family: "helvetica-medium", "helvetica-light", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-helvetica-light {
  font-family: "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.active,
.text-red {
  color: #d35266;
}

.button-primary {
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #d35266;
  color: white;
  font-family: "gotham-light", "gotham-bold", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.image-buttons {
  bottom: 0;
  right: 0;
  font-size: 20px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  letter-spacing: -1.5px;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  /* Search */
}

.nav-container .nav-brand {
  width: 75px;
}

.nav-container .nav-button {
  border-radius: 2px;
  -webkit-animation-name: colorswitch;
          animation-name: colorswitch;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.nav-container .nav-right,
.nav-container .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.nav-container .nav-account-avatar {
  width: 25px;
  height: 25px;
}

.nav-container a:hover {
  color: #d5d5d5;
}

.showcase {
  background: #d35266;
  background: -webkit-gradient(linear, right top, left top, from(rgba(211, 82, 102, 0.403799)), color-stop(25%, rgba(211, 82, 102, 0.804359)), color-stop(75%, rgba(211, 82, 102, 0.801558)), color-stop(92%, rgba(211, 82, 102, 0.633491))), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjED1ZXfSdqbtMXziF4wcHBWblycNXUqvF7Q&usqp=CAU");
  background: linear-gradient(270deg, rgba(211, 82, 102, 0.403799) 0%, rgba(211, 82, 102, 0.804359) 25%, rgba(211, 82, 102, 0.801558) 75%, rgba(211, 82, 102, 0.633491) 92%), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjED1ZXfSdqbtMXziF4wcHBWblycNXUqvF7Q&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.showcase .showcase-title {
  font-size: 28px;
}

.showcase .showcase-subtitle {
  font-size: 14px;
}

.showcase .showcase-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .showcase-search-form input,
.showcase .showcase-search-form select {
  border: 1px solid #d35266;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  height: 40px;
  background-color: #fff;
}

.showcase .showcase-details {
  max-width: 600px;
}
/*# sourceMappingURL=style.css.map */